body {
	font-size: 14pt; /*Размер шрифта*/
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

section {
	width: 70%;
	max-width: 1080px;
	min-width: 700px;
	margin: auto;
}

.block {
	font-family: monospace; /*Шрифт*/
	background-color: #eee1b2; /*Фон цвет*/
	color: #695308; /*Цвет*/
	padding: 20px; /*Внутренний отступ*/
	border: 1px #695308 solid; /*Рамка*/
	border-radius: 20px; /*Скругление*/
	transition: all 0.3s;
}

.block:hover {
	background-color: #e4c86e;
	padding-top: 30px; /*Внутренний отступ сверху*/
	padding-bottom: 30px;
}